@import '../../common/common';

.contacts-list {

  &-dialog {
    min-width: 580px;
    max-width: 580px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    padding-top: $global-spacing * 2;
    margin: 0 $global-spacing;
  }

  &-action {
    &--add {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }
  color: red;
}

@media only screen and (max-width: 768px) {
  .contacts-list-dialog {
    min-width: 90%;
  }
}
