<contacts-list-item
  ng-repeat="contact in $ctrl.loadedContacts"
  name="{{ contact.name }}"
  address="{{ contact.address }}"
  email="{{ contact.email }}"
  phone="{{ contact.phone }}"
  picture="{{ contact.picture }}"
></contacts-list-item>
<md-content>
  <!-- <pre>{{classifieds | json}}</pre> -->

  <!--<classifieds-card class="md-padding" layout="row" layout-wrap-->
                    <!--classifieds="vm.classifieds"-->
                    <!--classifieds-filter="classifiedsFilter"-->
                    <!--categories-filter="categoriesFilter"></classifieds-card>-->
</md-content>
<md-button
  ng-click="$ctrl.addContact()"
  class="contacts-action--add md-fab"
  aria-label="FAB">
  <md-icon md-font-set="material-icons md-48">add</md-icon>
</md-button>

