<contacts-list-item
  ng-repeat="contact in $ctrl.loadedContacts | filter: { name: $ctrl.filterByName }"
  name="{{ contact.name }}"
  picture="{{ contact.picture }}"
  ng-click="$ctrl.toggleDetailView(contact.id)">
</contacts-list-item>

<md-sidenav
  class="md-sidenav-left"
  md-component-id="add"
  md-whiteframe="4">
  <contacts-list-detail
    contact="$ctrl.loadContact">
  </contacts-list-detail>
</md-sidenav>

<md-button
  ng-click="$ctrl.addContact($event)"
  class="contacts-list-action--add md-fab"
  aria-label="FAB">
  <md-icon md-font-set="material-icons md-48">add</md-icon>
</md-button>

