@import '../../common/common';

contacts-list {
    height: 100%;
}

.contacts-list {

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin-top: $global-spacing / 4;
  height: calc(100% - 78px);

  &-dialog {
    min-width: 580px;
    max-width: 580px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    padding-top: $global-spacing * 2;
    margin: 0 $global-spacing;
  }

  &-action {
    &--add {
      position: fixed;
      bottom: $global-spacing;
      right: $global-spacing;
      z-index: 2;
    }
  }

  &.empty {
    justify-content: center;
  }
}

.no-contacts {
  align-self: center;
  text-align: center;
  color: $darkGreyColor;
  font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
  .contacts-list-dialog {
    min-width: 90%;
  }
}
