@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$primaryColor: #0277bd;
$accentColor: #1de9b6;
$bgColor: #eeeeee;
$darkBgColor: #263238;
$lightBgColor: #F5F5F5;
$whiteBgColor: #FFFFFF;
$lightTextColor: #f5f5f5;
$darkTextColor: #212121;
$darkGreyColor: #A2A2A2;
$emptyColor: #EAEAEA;

$global-timing: 600ms;
$global-spacing: 24px;
