@import '../../../common/common';

$picture-size: 56px;

.contactsListItem {

  md-card-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: $global-timing;

    &:hover{
      cursor: pointer;
      background-color: $lightBgColor;
    }
  }

  &-picture {
    min-width: $picture-size;
    height: $picture-size;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $emptyColor;
  }

  &-name {
    flex: 1 1 auto;
    margin-left: $global-spacing;
  }

  &-detail {
    margin-left: $global-spacing;
  }
}
