@import '../../../common/common';

$picture-size: 56px;

contacts-list-item:last-of-type {
  margin-bottom: 112px;
}

.contactsListItem {

  md-card-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: $global-timing;

    &:hover {
      cursor: pointer;
      background-color: $lightBgColor;
    }
  }

  &-picture {
    min-width: $picture-size;
    height: $picture-size;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $emptyColor;
  }

  &-name {
    flex: 1 1 auto;
    margin-left: $global-spacing;
  }

  &-actions {
    margin-left: $global-spacing;
  }
}

@media only screen and (max-width: 520px) {
  .contactsListItem {
    md-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: $global-timing;

      &:hover {
        cursor: pointer;
        background-color: $lightBgColor;
      }
    }

    &-name {
      flex: 1 1 auto;
      margin-left: 0;
    }

    &-actions {
      position: absolute;
      align-self: flex-end;
      margin-left: 0;
      flex: 1 1 auto;
      transition: $global-timing;

      &:hover {
        background-color: rgba(128,128,128,0.25);
      }
    }
  }
}
