.contact {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
